<p>
  <label>Hide header :</label>
  <%= check_box_tag "settings[hide_header]", true, @settings[:hide_header] %>
</p>
<p>
  <label>Hide menu :</label>
  <%= check_box_tag "settings[hide_menu]", true, @settings[:hide_menu] %>
</p>
<p>
  <label>Hide footer :</label>
  <%= check_box_tag "settings[hide_footer]", true, @settings[:hide_footer] %>
</p>
<p>
  <label>Hide input continue :</label>
  <%= check_box_tag "settings[hide_input_continue]", true, @settings[:hide_input_continue] %>
</p>
<p>
  <label>Hide private issue :</label>
  <%= check_box_tag "settings[hide_private]", true, @settings[:hide_private] %>
</p>