<p>
  <label>Hide header :</label>
  <%= check_box_tag "settings[hide_header]", true, (settings != "" ? @settings[:hide_header] : true) %>
</p>
<p>
  <label>Hide menu :</label>
  <%= check_box_tag "settings[hide_menu]", true, (settings != "" ? @settings[:hide_menu] : true) %>
</p>
<p>
  <label>Hide footer :</label>
  <%= check_box_tag "settings[hide_footer]", true, (settings != "" ? @settings[:hide_footer] : true) %>
</p>
<p>
  <label>Hide input continue :</label>
  <%= check_box_tag "settings[hide_input_continue]", true, (settings != "" ? @settings[:hide_input_continue] : true) %>
</p>
<p>
  <label>Hide private issue :</label>
  <%= check_box_tag "settings[hide_private]", true, (settings != "" ? @settings[:hide_private] : true) %>
</p>